.cartao {
    width: 200px;
    height: 80px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
    float: left;
    position: relative;
    padding: 5px;
    margin: 2px;
}

.ocupado {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
}

.chamando {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    animation: piscar 1s linear infinite;
}

@keyframes piscar {
    50% {
        opacity: 0;
    }
}

.disponivel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #04ea04;
}


.cartao-indisponivel {
    background-color: #f2f2f2; 
}

.cartao-pausa {
    background-color: #ffcc66; 
}

.icone-posicao {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
}

.icone-indisponivel {
    background-color: #666666;
}

.icone-pausa {
    background-color: #ff9900; 
}
